<template>
  <div id="calendar">
    <h1>Calendar</h1>
    <section>
      <h2>{{ currentMonthName }}</h2>
      <h2>{{ currentYear }}</h2>
    </section>
    <section>
      <p class="days" v-for="day in days" :key="day">{{ day }}</p>
    </section>
    <section>
      <p class="number" v-for="num in startDay()" :key="num"></p>
      <p
        class="number"
        v-for="num in daysInMonth()"
        :key="num"
        :class="currentDateClass(num)"
      >
        {{ num }}
      </p>
    </section>
    <section>
      <button @click="prev">Prev</button>
      <button @click="next">Next</button>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentMonth: new Date().getMonth(),
      currentYear: new Date().getFullYear(),
      days: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
    };
  },
  methods: {
    daysInMonth() {
      return new Date(this.currentYear, this.currentMonth + 1, 0).getDate();
    },
    startDay() {
      return new Date(this.currentYear, this.currentMonth, 1).getDate();
    },
    currentDateClass(num) {
      const calendarFullDate = new Date(
        this.currentYear,
        this.currentMonth,
        num
      ).toDateString();
      const currentFullDate = new Date().toDateString();
      return calendarFullDate === currentFullDate ? "date-color" : "";
    },
    next() {
      if (this.currentMonth === 11) {
        this.currentMonth = 0;
        this.currentYear++;
      } else {
        this.currentMonth++;
      }
    },
    prev() {
      if (this.currentMonth === 0) {
        this.currentMonth = 11;
        this.currentYear--;
      } else {
        this.currentMonth--;
      }
    },
  },
  computed: {
    currentMonthName() {
      return new Date(
        this.currentYear,
        this.currentMonth
      ).toLocaleString("default", { month: "long" });
    },
  },
};
</script>

<style scoped>
#calendar {
  margin: 0 auto;
}
h1 {
  font-style: 1.5rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
h2 {
  font-weight: 200;
}
section {
  display: flex;
}
section:nth-child(2),
section:nth-child(5) {
  justify-content: space-between;
}
section:nth-child(4) {
  flex-wrap: wrap;
}
section:nth-child(5) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.days,
.number {
  width: calc(100% / 7);
  text-align: center;
}
.date-color {
  color: rgba(217, 119, 6, 1);
}
</style>