<template>
  <AppHeader />
  <div id="container">
    <router-view></router-view>
  </div>
</template>

<script>
import AppHeader from "./components/AppHeader.vue";

export default {
  name: "App",
  components: {
    AppHeader,
  },
};
</script>
<style scoped>
#container {
  display: flex;
  width: 100%;
}
</style>
